@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,600&display=swap|IBM+Plex+Sans:300,400,500,600,700');

/***** text styles *****/
body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #222222;
    font-size: 18px;
    line-height: 1.7em;
    margin: 0;
    font-weight: 300;

    --grey-text: #8E8E8E;
    --black-text: #222222; /* rgba(18, 18, 19, 0.87); */
    --grey-back: #F7F7F7;

    --light-grey: rgb(230, 230, 230);
}

p {
    font-weight: 300;
    margin: 0;
}

h3 {font-size: 22px; font-weight: 400;}
h4 {font-size: 17px; font-weight: 400; margin: 0;}

#nav a {
    color: var(--black-text);
    text-decoration: none;
}

@media only screen and (min-width: 320px) {
    h1 {font-size: 32px; line-height: 1.4em; margin-bottom: 8px;}
    h2 {font-size: 26px; margin-bottom: 34px; line-height: 1.4em;}

    h1, h2 {
        font-weight: 400;
        margin-top: 0;
    }
    
    #cs-grid {
        animation: dFadeInUp 1.6s;
    }

    #cs-grid .row {
        display: block;
    }

    #cs-grid .row .col-3 {
        margin-bottom: 60px;
        width: 100%;
    }

    .wrapper {
        padding: 0 20px;
        margin: 0 auto;
    }

    #hi h1 {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.7em;
    }

    #nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        padding: 12px 0;
    }

    #nav #site-links {
        display: none;
        font-size: 16px;
        font-weight: 400;
    }
    #nav #site-links a {
        padding-left: 40px;
    }

    #nav .hamburger-line {
        width: 28px;
        height: 1px;
        background-color: var(--black-text);
        margin: 4px 0 8px 0;
    }

    #mobileMenu {
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    #mobileMenuLinks {
        margin: 20px;
        text-align: right;
    }

    #mobileMenu a {
        color: var(--black-text);
        text-decoration: none;
        font-weight: 400;
        line-height: 2.2em;
        font-size: 22px;
    }

    #mobileMenu #closeMenu {
        font-size: 48px;
        font-weight: 100;
        text-align: right;
        margin-bottom: 80px;
    }

    .in-text {
        padding: 36px 0;
    }

    .text-content {
        width: 100%;
    }


    .grey-top-border {
        border-top: 1px solid  var(--light-grey);
        padding-top: 100px;
    }

    #cs-intro {
        margin-top: 40px;
        padding-bottom: 100px;
        border-bottom: 1px var(--light-grey) solid; 
    }

    .cs-sub-intro {
        margin: 100px 0 100px 0;
    }

    .cs-sub-details {
        margin-top: 40px;
        width: auto;
        padding-left: 18px;
        height: auto;
    }

    #cs-intro-details {
        margin-top: 40px;
        padding-bottom: 140px;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px var(--light-grey) solid; 
    }

    .img img {
        width: 100%;
        margin: 0 auto;
    }

    .img #me {
        width: 100%;
    }

    .img .page {
        background-color: var(--grey-back);
        padding: 60px 40px;
    }

    .img .page-tin-final {
        background-image: linear-gradient(to top right, #1D2255 0%, #2A4173 100%);
        padding: 60px 40px;
    }

    .page-tin-final img {
        margin-bottom: 40px;
    }

    .row {
        display: block;
    }

    .row .col-2 {
        width: 100%;
        margin-bottom: 40px;
    }
    
    .row .col-2-w {
        width: 100%;
        margin-bottom: 40px;
    }

    .row .col-3 {
        width: 100%;
        margin-bottom: 60px;
    }

    #bottom {
        margin-bottom: 0;
    }

    .content-block {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 580px) {
    h1 {font-size: 44px;}
    h2 {font-size: 34px;}
    h1, h2 {
        font-weight: 300;
    }


    #hi h1 {
        font-size: 38px;
        font-weight: 300;
    }

    #nav {
        margin-top: 30px;
    }

    #nav #site-links {
        display: block;
    }

    #nav #hamburger {
        display: none;
    }

    .wrapper {
        padding: 0 40px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .row .col-2 {
        width: 45%;
        margin-bottom: 0;
    }
    
    .row .col-2-w {
        width: 48%;
        margin-bottom: 0;
    }

    .row .col-3 {
        width: 30.5%;
        margin-bottom: 0px;
    }

    .img .page {
        padding: 80px 60px;
    }

    .img .page-tin-final {
        padding: 80px 60px;
    }

    .in-text {
        padding: 36px 12px 36px 0;
    }

    .page-tin-final img {
        margin-bottom: 60px;
    }

    .content-block {
        margin-bottom: 140px;
    }

    .img #me {
        width: 40%;
        float: left;
    }
} 


@media only screen and (min-width: 960px) {
    h1 {font-size: 48px;}

    #cs-grid {
        width: 100%;
        margin: 0 0 140px 0;
    }

    #hi h1 {
        font-size: 44px;
    }

    #cs-grid .row { 
        display: flex;
        justify-content: space-between;
    }

    #cs-grid .row .col-3 {
        width: 30%;
        background-color: none;
    }

    .wrapper {
        max-width: 1200px;
        padding: 0 60px;
    }

    .text-content {
        width: 60%;
    }

    #cs-intro {
        margin-top: 80px;
        padding-bottom: 140px;
    }

    .grey-top-border {
        padding-top: 140px;
    }

    .cs-sub-intro {
        margin: 100px 0 140px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #cs-intro-details {
        margin-top: 80px;
        display: flex;
    }

    .cs-sub-details {
        margin-top: 0;
    }

    .img .page {
        padding: 120px 110px;
    }

    .img .page-tin-final {
        padding: 120px 110px;
    }

    .page-tin-final img {
        margin-bottom: 100px;
    }
} 

p.subtext {
    font-size: 16px;
    color: var(--grey-text);
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 8px;
}


.details p.label {
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 8px;
}

#fixed-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
}

#nf-nav {
    background-color: rgba(255, 255, 255, 0.60);
    z-index: 1;
    width: 100%;
}

#nav #site-title {
    font-size: 18px;
    font-weight: 400;
}

#hi span.grey {
    font-size: 16px;
}

#hi {
    margin: 136px 0 128px 0;
    animation: fadeInUp 1.4s;
}


#hi a {
    color: var(--black-text);
    text-decoration: none;
}

.case-study {
    animation: fadeInUp 1s;
}

.cs-link {
    width: 48%;
}

.cs-link a {
    text-decoration: none;
}

.cs-link h2 {
    font-size: 18px;
    color: var(--black-text);
    font-weight: 400;
    margin: 0;
    line-height: 1.5em;
}

.cs-link h3 {
    font-size: 16px;
    color: var(--grey-text);
    font-weight: 400;
    margin: 0;
}

.cs-text {
    margin-top: 20px;
}

.cs-link:hover img {
    transform: scale(1.04);
    transition: .25s ease;
}

.cs-link:hover .plastiq {
    opacity: 0.95;
    transition: .15s ease;
}

.cs-link:hover .capstone, .cs-link:hover .college, .cs-link:hover .d4sd {
    opacity: 0.85;
    transition: .15s ease;
}

.cs-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.cs-img img {
    width: 100%;
    display: block;
}

.plastiq {
    background-image: linear-gradient(to top right, rgb(39, 21, 141) 0%, rgb(52, 63, 216) 100%); /* #070C56 0%, rgb(14, 56, 163) 100%); */
}

.capstone {
    background-image: linear-gradient(to top right, rgba(255, 250, 233, 0.884) 0%, rgb(227, 242, 255) 60%, rgb(202, 235, 255)100%);/* #070C56 0%, rgb(14, 56, 163) 100%); */
}

/***** CASE STUDY PAGE *****/

.text-content p.space, .text p.space {
    margin-bottom: 20px;
}

.text-content a, .text a {
    text-decoration: underline;
    color: var(--black-text);
}

#cs-hero-img {
    width: 100%;
    margin: 118px 0 0 0;
}

#cs-hero-img img {
    width: 100%;
    display: block;
}

p.metadata {
    color: var(--grey-text);
    font-size: 16px;
    font-weight: 400;
}

p.intro {
    font-size: 22px;
    line-height: 1.7em;
}

#cs-intro p.metadata, #cs-intro-details p.metadata {
    margin: 2px 0 24px 0;
}

.plastiq-cs .cs-sub-details {
    border-left: solid 1px rgb(50, 17, 238);
}

.plastiq-cs .text-content span {
    background-color: rgb(240, 241, 255);
}

.capstone-cs .cs-sub-details {
    border-left: solid 1px rgb(189, 190, 170);
}

.capstone-cs .text-content span {
    background-color: rgb(248, 248, 236);
}

.college-cs .cs-sub-details {
    border-left: solid 1px #00A8FD;
}

.college-cs .text-content span {
    background-color: rgb(231, 247, 255);
}

.cs-sub-details .detail {
    display: flex;
    margin-bottom: 16px;
}

.cs-sub-details .detail p {
    line-height: 1em;
    font-size: 16px;
}

.detail .label {
    color: var(--grey-text);
    font-weight: 400;
}

.about {
    margin-top: 124px;
}

.about .text {
    margin-top: 6em;
}

.row img {
    width: 100%;
}



.line-concept p {
    font-size: 16px;
    color: var(--grey-text);
    font-weight: 400;
}

.line-concept h4 {
    margin: 22px 0 14px 0;
}

/***** IMAGES  *****/
.fw-text-floating {
    padding: 54px 12px 0 0;
}

.fw-floating {
    padding: 60px 0 0 0;
}

.in-text-img {
    padding: 60px 0;
}

.fw {
    padding: 60px 0 72px 0;
    width: 100%;
}

.centered-m {
    padding: 60px 0 72px 0;
    width: 960px;
    margin: 0 auto;
}

.img {
    text-align: left;
}

.img p.label {
    font-size: 12px;
    margin: 0 0 4px 0;
    line-height: 1em;
    font-weight: 400;
}

.page span.heading {
    font-family: 'IBM Plex Mono';
    font-weight: 500;
}

.page h4.actual {
    margin-bottom: 38px;
}

.page p {
    font-weight: 400;
}


.page-tin-final h4 {
    color: #fff;
    margin-bottom: 48px;
}

/***** PLASTIQ CASE STUDY  *****/
.blue-h4 h4 {
    color: rgb(50, 17, 238);
}

.grey-h4 h4 {
    color: var(--grey-text);
}

.blue-dash {
    width: 24px;
    background-color: rgb(169, 176, 255);
    height: 1px;
    margin: 0;
    padding: 0;
}

.blue-line {
    width: 100%;
    background-color: rgb(169, 176, 255);
    height: 1px;
    margin: 0;
    padding: 0;
}

.grey-line {
    width: 100%;
    background-color: var(--light-grey);
    height: 1px;
    margin: 0;
    padding: 0;
}

.shadows img {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.151); 
    margin-bottom: 8px;
}


#pq-timing span.pros {
    font-weight: 500;
    color: rgb(50, 17, 238);
}

#pq-timing .subtext {
    color: var(--grey-text);
}

span.red {
    font-weight: 500;
    color: #9A0618;

}

span.blue-p {
    color: #222;
    background-color: rgb(240, 241, 255);
}

span.green {
    font-weight: 600;
    color: rgb(5, 189, 134);
}

span.grey {
    color: var(--grey-text);
}

#pq-timing p.label {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.6em;
    font-weight: 400;
}

#pq-tin-flows h4  {
    margin-bottom: 5px;
}

#pq-tin-flows img {
    margin-top: 32px;
}

/***** animations *****/
@keyframes fadeInUp {
    from {
        transform: translate3d(0,30px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes dFadeInUp {
    0% {
        transform: translate3d(0,30px,0);
        opacity: 0;
    }

    18% {
        transform: translate3d(0,30px,0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

/***** PLASTIQ CASE STUDY STUFF *****/

#tin-tooltip img {
    box-shadow: 0px 4px 18px rgba(7, 13, 27, 0.123); 
} 

