@import url('https://fonts.googleapis.com/css?family=Chivo|Lato:300,400,400i,700&display=swap');

/***** text styles *****/
body {
    font-family: 'Lato', sans-serif;
    color: #222222;
    font-size: 19px;
    line-height: 1.65em;
    margin: 0;

    --grey-text: #717175;
    --black-text: #222222; /* rgba(18, 18, 19, 0.87); */
    --grey-back: #F7F7F7;
}

h1 {font-size: 46px; margin-top: 0;}
h2 {font-size: 28px;}
h3 {font-size: 21px;}
h4 {font-size: 16px;
    font-family: 'Andale Mono';
    font-weight: 100;}

p.metadata {
    font-size: 18px;
    color: var(--grey-text);
}

a {
    text-decoration: none;
    color: var(--black-text);
}

p a, #nav a, #nav-hidden a, #bottom a {
    border-bottom: 1px solid rgba(173, 173, 177, 0.87);
    transition: 0.1s ease;
}

p a:hover, #nav a:hover, #nav-hidden a:hover, #bottom a:hover {
    border-bottom: 1px solid rgba(18, 18, 19, 0.87);
    transition: 0.1s ease;
    cursor: pointer;
}

/***** nav *****/
#nav-hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    animation: fadeIn 0.6s;
    display: none;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    animation: fadeIn 0.6s;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    padding: 32px 80px 0 80px;
}

#nav-links a {
    font-size: 16px;
    line-height: 1.45em;
}

/***** about page styles *****/
#about {
    animation: fadeInUp 0.8s;
}

#about-me-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20vh auto 32vh auto;
    max-width: 960px;
}

#about-img {
    padding-right: 60px;
    border-radius: 100%;
    width: 45%;
}

#about-img img {
    width: 100%;
}

#about-txt {
    margin-top: 10vh;
    width: 55%;
}


/***** homepage styles *****/
#home {
    animation: fadeInUp 0.8s;
}

/* intro */
#home-intro {
    margin: 36vh auto 200px auto;
    /* margin-bottom is 140px, padding-bottom: 160px;
    border-bottom: #DDD solid 1px; */
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    
}

#home-intro h1 {font-size: 42px; margin-bottom: 24px;}
#home-intro p {margin-top: 0;}
#home-intro .metadata {margin: 0 0 40px 0;}

#intro-text-l, #intro-text-r {
    width: 50%;
}

/* case study links */
#case-studies {
    width: 960px;
    margin: 0 auto;
}

.case-study {
    width: 100%;
    margin-bottom: 140px;
    position: relative;
}

.case-study-img {
    width: 100%;
    height: 500px;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
    display: block;
}

.case-study-img img {
    transition: .2s ease;
    width: 100%;
}

.case-study:hover .case-study-img {
    filter: brightness(70%);
    transition: .2s ease;
}

.case-study:hover img {
    transform: scale(1.03);
    transition: .2s ease;
}

.case-study-text {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.case-study-text h2 {
    color: #fff;
    margin: 0;
    font-size: 46px;
    line-height: 1.6em;
}

.case-study-text h3 {
    color: #fff;
    margin: 10px 0 8px 0;
    font-size: 19px;
    font-weight: 400;
}

.case-study-text-wrapper {
    padding: 170px 110px;
}

.case-study:hover .case-study-text {
    opacity: 1;
    transition: .3s ease;
}

#plastiq .case-study-img {
    background-image: linear-gradient(to top right, rgb(26, 25, 80) 0%, rgb(45, 53, 160) 100%);/* #070C56 0%, rgb(14, 56, 163) 100%); */
}

#capstone .case-study-img {
    background-image: linear-gradient(to top right, rgba(255, 250, 233, 0.884) 0%, rgb(227, 242, 255) 60%, rgb(202, 235, 255)100%);/* #070C56 0%, rgb(14, 56, 163) 100%); */
}

#collegeconfident .case-study-img {
    background-image: linear-gradient(to top right, rgba(247, 247, 247, 0.884) 0%, rgb(226, 226, 226)100%);/* #070C56 0%, rgb(14, 56, 163) 100%); */
}

/* bottom */
#bottom {
    width: 960px;
    margin: 180px auto 200px auto;
    display: flex;
    justify-content: space-between;
}

#bottom-l {
    text-align: left;
    font-size: 22px;
}

#bottom-r {
    text-align: right;
    font-size: 16px;
}

/***** case study styles *****/
.case-study-section {
    margin-bottom: 240px;
}

#case-study-intro {
    height: 100vh;
    margin: 0 auto;
    animation: fadeInUp 0.8s;
}

#case-study-intro h1 {
    padding-top: 32vh;
    margin-bottom: 80px;
}

#case-study-intro p.intro {
    font-size: 24px;
    line-height: 1.8em;
    font-weight: 400;
}

#case-study-content {
    animation: fadeInUp 0.6s;
    display: none;
}

.text-block-top {
    margin: 0 auto 80px auto;
    max-width: 760px;
    width: 100%;
}

.text-block {
    margin: 80px auto;
    max-width: 760px;
    width: 100%;
}

.spacer-l {height: 90px;}
.spacer-m {height: 40px;}

#scroll-space {height: 20px;}


/***** case study images *****/

.fw {
    width: 100%;
    margin: 0;
}

.l {
    max-width: 1280px;
    margin: 0 auto;
}

.m {
    max-width: 1080px;
    margin: 0 auto;
}

.in-text {
    margin: 50px 0;
    width: 100%;
}

.img {
    text-align: center;
}

.img img {
    width: 100%;
    margin: 0;
}

p.img-label {
    font-size: 12.5px;
    margin: 0;
}

/* built image */
.built-img {
    background-color: var(--grey-back);
    padding: 110px 97px;
}

.built-img h4 {
    margin-bottom: 40px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.column img {
    width: 100%;
}

.two {
    width: 48%;
}

/***** table styles *****/
table {
    width: 100%;
    text-align: left;
    font-size: 16px;
    line-height: 1.4em;
    font-family: 'Lato';
}

table, th, td {
    border: 0.5px solid rgb(207, 207, 207);
    border-collapse: collapse;
}

th, td {
    padding: 16px;
    vertical-align: top;
}

th {
    font-family: 'Andale Mono';
    font-weight: 500;
}

td:nth-child(1) {
    font-family: 'Andale Mono';
    font-weight: 500;
}

/* 5-column table */
.five-column th:nth-child(1) {
    width: 12%;
}

.five-column th:nth-child(2),
.five-column th:nth-child(3),
.five-column th:nth-child(4),
.five-column th:nth-child(5) {
    width: 22%;
}

#when-to-collect-tins-table img {
    height: 11px;
    width: 11px;
}


/***** animations *****/
@keyframes fadeInUp {
    from {
        transform: translate3d(0,20px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

/***** PLASTIQ CASE STUDY STUFF *****/

#tin-tooltip img {
    box-shadow: 0px 4px 18px rgba(7, 13, 27, 0.123); 
} 